:root {
    --orange: hsla(32, 100%, 50%, 1);
    --yellow: hsla(49, 99%, 50%, 1);
    --lime: hsla(82, 90%, 45%, 1);
    --green: hsla(127, 81%, 41%, 1);
    --red: hsla(342, 93%, 53%, 1);
    --pink: hsla(314, 85%, 45%, 1);
    --blue: hsla(211, 92%, 52%, 1);
    --purple: hsla(283, 92%, 44%, 1);
    --cyan: hsla(195, 98%, 55%, 1);
    --white: hsla(0, 0%, 95%, 1);
    --black: hsla(0, 0%, 10%, 1);
  
    
      * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        border: none;
        padding: 0px;
        background-color: whitesmoke;
        font-family:monospace ;
        font-size: 100%;  
    }
    
      

    .h1-a{
      font-family: 'Monofett', monospace;
      font-size: 3rem;
    }


    .header {
      grid-area: header;
      display: flex;
      justify-content: space-around;
      background-color: white;
      color: black;
      padding: 20px;
      border:none;
      margin: 0;
    }

    
    
    .page-wrapper{
        display: none;
        margin: 0px;
        background-color: white;
        border: none;
        color: black;
    }

    .link{
      color: black;
    }

    .link:hover{
      color:hsla(195, 98%, 55%, 1); 
    }

    
    .column{
      float: right;
      width: 32%;
      border-style: solid;
      border-color: black;
      border-width: thin;
      margin: 10px;
      padding: 10px;
    }

    @media screen and (max-width: 700px){
      .column{
          flex-direction: column;
      }

  }

    @media  screen and (max-width: 600px) {
    .column{
      width: 100%;
    }

    }
}
